<footer id="footer" class="clearfix">
    <% if (config.social) { %>
        <div class="social-wrapper">
          <% (config.social||[]).forEach(function(value){ %>
              <% if (value.url && value.icon) { %>
                  <a href="<%= value.url %>" class="social fa <%= value.icon %> flat-box" target="_blank" rel="external"></a>
              <%}%>
          <%})%>
        </div>
    <%}%>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可。
    <div>使用 <a href="https://xaoxuu.com/wiki/material-x/" target="_blank" class="codename">Material X</a> 作为主题</div>
    <div><a target="_blank" href="http://www.miitbeian.gov.cn/">蜀ICP备14011177号-1</a></div>
</footer>
<!-- 根据页面mathjax变量决定是否加载MathJax数学公式js -->
<% if (page.mathjax){ %>
    <%- partial('mathjax') %>
<% } %>
